app/static/js/popper.min.js
app/static/js/mdb.min.js
app/static/js/bootstrap.min.js
app/static/js/jquery-3.2.1.min.js
.idea/workspace.xml
app/static/fonts
app/static/images
misiek/static/fonts/
misiek/static/styles/
misiek/static/angular.min.js
misiek/static/w3c.css
pmbenv/
adminek/views/__pycache__/
app/__pycache__/