{% extends 'base/base.html' %}
{% block content %}
<div class="w3-bar w3-border w3-teal w3-large">
    <h3>Lista artykułów</h3>
</div>
<div class="w3-container">
    <button class="w3-btn w3-white w3-border  w3-margin w3-border-green w3-round-xlarge" style="width:50%">
        <a href="{% url 'actual_detail' %}">Dodaj nowy</a>
    </button>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Szukaj po nazwie" id="myInput" onkeyup="myFunction()">
    <ul class="w3-ul w3-teal">
        <li class="w3-hover-teal w3-display-container">
            <div class="w3-row">
              <div class="w3-col s6  w3-center">Tytuł</div>
              <div class="w3-col s3  w3-center">Data publikacji</div>
              <div class="w3-col s3  w3-center">Akcje</div>
            </div>
        </li>
    </ul>
    <ul id="ul-list" class="w3-ul">
        {% for actual in actual_list_links %}
        <li class="w3-hover-teal w3-display-container">
            <div class="w3-row">
              <div class="w3-col s6 "><a href="{% url 'actual_detail' actual.id%}">{{actual.title}}</a></div>
              <div class="w3-col s3 "><a href="{% url 'actual_detail' actual.id%}">{{actual.date | date:"Y-m-d H:i"}}</a></div>
              <div class="w3-col s3  w3-center">
              <a href="{% url 'actual_delete' actual.id%}" class="w3-button"> <i class="fa fa-trash"></i>USUŃ</a>
              <a href="{% url 'actual_detail' actual.id%}" class="w3-button"><i class="fa fa-edit"></i>EDYTUJ</a>
              </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("ul-list");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

{% endblock %}