#page, #events {
    margin-top:13vh; margin-left:5vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

}

#left-main-card {
width: 67%
}
#main-right-card{
width:28%; margin-left:1%
}
#sacrament-toggled{
width: 30vw;
}
#parafia-dropdown {
display: flex
}
#parafia-dropdown-mini {
display:None
}