,<div class="k-card ">
    <h4 class="h4-responsive">Bierzmowanie</h4>
    <div class="card-body">
        <p class="card-text">    Kolejnym sakramentem wtajemniczenia, w którym wierny po uzyskaniu wieku, w którym może samodzielnie potwierdzić wiarę jaką zazwyczaj w jego imieniu przyjęli rodzice na chrzcie jest bierzmowanie. Przygotowanie do tego sakramentu trwa w zależności od parafii i diecezji od pół roku do nawet trzech lat (w diecezji legnickiej). Jest ono ściśle połączone z uczestnictwem kandydatów w katechezie szkolnej. Podczas przyjmowania tego sakramentu, którego z zasady udziela co najmniej biskup (niekiedy bardzo wyjątkowo upoważniając księży to jego udzielania) obecny jest również świadek.  Musi on wypełnić wszystkie warunki jakie odnoszą się do rodzica chrzestnego. Wskazane jest, by był to jeden z chrzestnych, choć jest to niekonieczne.
        </p>

        <div id="list2">
            <p class="card-text">Aby przystąpić do bierzmowania należy:
            </p>
            <ol>
                <li><p>
                    Odpowiednio wcześnie zgłosić swój zamiar oraz odbyć przygotowanie w parafii.
                </p></li>
                <li><p>
                    Przedłożyć wypisane nie wcześniej niż 3 miesiące wcześniej świadectwo chrztu.

                </p></li>
                <li><p>
                    Przedłożyć świadectwo uczestnictwa w katechizacji szkolnej (uczniowie) lub ostatnie świadectwo uczestnictwa w katechizacji szkolnej (osoby które zakończyły edukację)
                </p></li>
                <li><p>
                    Dane personalne o świadku bierzmowania wraz z zaświadczeniem o zdolności– jak w przypadku rodziców chrzestnych
                </p></li>
            </ol>
            </div>

    </div>
</div>