{% load static %}
<div class="k-card ">
    <h4 class="h4-responsive">Duszpasterze</h4>
    <div class="card-body">
        <table class="table">
            {% for pastor in pastors %}
            <tr>
                <td>
                    <p class="card-text">
                        {{ pastor.name }}
                    </p>
                </td>
                <td>
                    <img src="{{ MEDIA_URL }}{{ pastor.image.url }}"/>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>