{% load static %}
<div class="k-card ">
    <h4 class="h4-responsive">Duszpasterze</h4>
    <div class="card-body">
        <table class="table">
            <tr>
                <td>
                    <p class="card-text">
                        Proboszcz ks. dr Tomasz Czernik
                    </p>
                </td>
                <td>
                    <img src="{% static 'images/ks_dr_tomasz.jpg' %}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="card-text">
                        ks. mgr-lic. Paweł Sajdutko
                    </p>
                </td>
                <td>
                    <img src="{% static 'images/ks_pawel.jpg' %}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="card-text">
                        ks. mgr Piotr Kulpa
                    </p>
                </td>
                <td>
                    <img src="{% static 'images/ks_piotr.jpg' %}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="card-text">
                        Diakon Tomasz PIĄTKOWSKI
                    </p>
                </td>
                <td>
                    <img src="{% static 'images/ks_tomasz_diakon.jpg' %}"/>
                </td>
            </tr>
        </table>

    </div>
</div>