
{% load static %}
<style>

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default    */
.mySlidesGallery {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  <!--position: absolute;-->
  <!--top: 40%;-->
  <!--width: auto;-->
  <!--padding: 16px;-->
  <!--margin-top: -50px;-->
  <!--color: white;-->
  <!--font-weight: bold;-->
  <!--font-size: 20px;-->
  <!--border-radius: 0 3px 3px 0;-->
  <!--user-select: none;-->
  <!-- -webkit-user-select: none;-->
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.big-img-gallery {

    width:100%;
    height:auto;
}

 #case-example-cover {
     display: inline-block;
 }
 #nav-container {
     position: relative;
 }

 #nav-container img {
     display: block;
 }
 #nav-container div {
     position: absolute;
    cursor: pointer;
     top:50%;
     transform:translateY(-50%);
     width: 38px;
     height: 38px;
     opacity: 0.4;
     font-size: 1.5em;
     background-color:#f2f2f2;
 }
#nav-container div:hover
{
 background-color: rgba(0, 0, 0, 0.8);

}
 #case-left {
     left: 0;
 }
 #case-right {
     right: 0;
 }
</style>
{% if galery.description != '' %}
    <div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border">
      <p>{{galery.description}}</p>
    </div>
{% endif %}
<div class="container">
     {% for image_number in images_numbers %}
    <div id="case-example-cover">
        <div class="mySlidesGallery">
            <div id="nav-container">
                <img class="big-img-gallery" src="{{ MEDIA_URL }}{{ image_number.image.image.url }}" style="">
            </div>
        </div>
    </div>
     {% endfor %}
    <div class="row">
        <div class="col-md-6 w3-btn w3-blue-grey" onclick="plusSlides(-1)" role="button">&#10094; COFNIJ</div>
        <div class="col-md-6 w3-btn w3-blue-grey" onclick="plusSlides(1)" role="button">&#10095; DALEJ</div>
    </div>
  <div class="row">
      {% for image_number in images_numbers %}
        <div style="float:left">
          <img class="demo cursor" src="{{ MEDIA_URL }}{{ image_number.image.image.url }}" style="height:250px;" onclick="currentSlide({{image_number.idx}})" alt="The Woods">
        </div>
       {% endfor %}
  </div>
</div>
<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
