<div class="k-card ">
    <h4 class="h4-responsive">Słowo Boże – Homilię naszych duszpasterzy</h4>
    <div class="card-body">
        <p class="card-text">
           Słowo Boże jest jak miecz obosieczny, ma moc przeniknąć nasze serca. Trzeba nam w to wierzyć, że za akżdym razem jak słuchamy czytań, Ewangelii czy też Homilii wychodzi do nas Bóg. Zapraszamy wszystkch do wsłuchania się w homilię, które są kierowane do wiernych w czasie Niedzielnych Liturgii oraz w Uroczystości.

        </p>
        <p class="card-text">
            Niech te słowa nas przenikają. Amen !<br/>
        Homilię są dostepne pod poniższym linkiem.
          </p>
<iframe width="625" height="450" scrolling="no" frameborder="no"
    src="https://w.soundcloud.com/player/?visual=true&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Fusers%2F320069804&amp;show_artwork=true&amp;maxwidth=625&amp;maxheight=938"></iframe>
    </div>
</div>