<!DOCTYPE html>
<html lang="pl-PL">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Panel PMB</title>
    <link href="{% static 'styles/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'styles/codemirror.min.css' %}">
    <link href="{% static 'styles/froala_editor.pkgd.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/froala_style.min.css' %}" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" href="{% static 'fonts/css/font-awesome.css' %}">
     <link rel="stylesheet" href="{% static 'js/w3c.css' %}">
     <link rel="stylesheet" href="{% static 'site.css' %}">

<body>
<div class="w3-bar w3-border w3-light-grey w3-xlarge">
  <a href="{% url 'index' %}" class="w3-bar-item w3-button">Panel do zarządzania treścią strony</a>
{% if user.is_authenticated %}
    <div  class="btn" style="float:right; font-size: 0.5em"><a href="{% url 'logout' %}">wyloguj</a></div>
{% endif %}

</div>

{% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
{% else %}
<div class="w3-container w3-teal">
  <h2>Brak wstępu!</h2>
</div>
<div class="w3-container">

<p>Musisz się zalogować aby zarządzać treścią strony</p>
<a class="w3-btn w3-teal" href="{% url 'login' %}">Do strony logowania</a>

</div>
<!--<div class="w3-container w3-blue">-->
  <!--<h2>Zaloguj się aby administrować treścią strony</h2>-->
<!--</div>-->

<!--<form method="post" class="w3-container" style="color: #757575;">-->
  <!--{% csrf_token %}-->
  <!--{{ form.as_p }}-->
  <!--<button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Zaloguj</button>-->
  <!--<p>Nie masz konta?-->
    <!--<a href="">Zarejestruj</a>-->
  <!--</p>-->
<!--</form>-->
{% endif %}
</body>
</html>