{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-teal">
  <h2>{{article.title}}</h2>
</div>

<form method="POST" class="w3-container">
   {% csrf_token %}
    <label class="w3-text-teal"><b>Nazwa nabożeństwa</b></label>
    <input class="w3-input w3-border w3-light-grey" name="name" value="{{object.name}}" type="text">
    <div class="w3-row w3-text-teal  w3-section">
        <label class="w3-text-teal "><b>Dzień tygodnia</b>
        </label>
        {% include 'app/days.html' %}
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Godzina nabożeństwa</b>
        </label>
        <input class="w3-hover-green w3-border w3-light-grey w-30" type="time" name="time" value="{{object.time}}">
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Kościół</b></label>
        {% include 'app/churches.html' %}
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Od kiedy wyświetlać na stronie?</b>
        </label>
        <input id="dateFrom" class="w3-hover-green w3-border w3-light-grey w-30" type="date" name="display_start" value="{{object.display_start}}">
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Do kiedy wyświetlać na stronie?</b>
        </label>
        <input id="dateTo" class="w3-hover-green w3-border w3-light-grey w-30" type="date" name="display_end" value="{{object.display_end}}">
    </div>
    <input class="w3-btn w3-margin-top w3-blue-grey w-30" type="submit" value="Zapisz"/>
    <a class="w3-btn w3-margin-top w3-blue-grey w-30" href="{% url 'actual' %}" >Anuluj</a>
</form>
<script>
    document.getElementById('dateFrom').valueAsDate = new Date();
    document.getElementById('dateTo').valueAsDate = new Date();
</script>
{% endblock %}
