{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-teal">
  <h2>Galeria: {{object.title}}</h2>
</div>
<form method="POST" class="w3-container" enctype="multipart/form-data">
   {% csrf_token %}
        <div class="w3-row w3-text-teal w3-section">
            <label class="w3-text-teal"><b>Nazwa galerii</b>
            </label>
            <input class="w3-hover-green w3-border w3-light-grey w-30" type="text"
               name="title" value="{{object.galery.title}}">
        </div>


    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Opis w galerii</b>
        </label>
        <textarea class="w3-input w3-border w3-light-grey w-75" rows="4" name="description">{{object.galery.description}}</textarea>
    </div>

    <div id='hours-all'>
        <ol>
            {% for imagewithcaption in object.images %}
            <li>
            <div id="row-{{imagewithcaption.id}}" class="w3-row w3-text-teal w3-section">
                <img class="w-30" src="{{ MEDIA_URL }}{{ imagewithcaption.image.url }}"/>
                <div class="w3-btn w3-margin-top w3-blue-grey w-30" onclick="removeImage('row-{{imagewithcaption.id}}')">Usuń</div>
                <p style="display: None">TEN OBRAZ ZOSTANIE USUNIĘTY Z GALERII</p>
                <input type="hidden" name="gallery" value="del-{{imagewithcaption.id}}"/>
            </div>
            </li>
         {% endfor %}
        </ol>
        <div id="n-1" class="w3-row w3-text-teal w3-section mass-hour-row">
            <label class="w3-tex-teal"><b>Dodaj obraz do galerii</b>
            </label>
            <input type="file" name="n-a-0" multiple="multiple">
        </div>
    </div>

    <div class="w3-btn w-30 w3-hover-green w3-border w3-light-grey " onclick="renderNextAnnouncementField()">
        Kolejny obraz
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <input class="w3-btn w3-margin-top w3-blue-grey w-30" type="submit" value="Zapisz"/>
        <a class="w3-btn w3-margin-top w3-blue-grey w-30" href="{% url 'galery' method='list'  object_name='galery' %}" >Anuluj</a>
        <!--<a class="w3-btn w3-margin-top w3-blue-grey w-30" href="{% url 'announcement' object_name='WeekAnnouncement' method='download'  pk=object.id %}" >Zapisz</a>-->
    </div>
</form>


<div class="container">
 <!--{% for image_number in object.images_numbers %}-->
  <!--&lt;!&ndash; Full-width images with number text &ndash;&gt;-->
  <!--<div class="mySlides">-->
    <!--<div class="numbertext">{{image_number.idx}} / {{size}}</div>-->
      <!--<img class="big-img-gallery" src="{{ MEDIA_URL }}{{ image_number.image.image.url }}" style="">-->
  <!--</div>-->
 <!--{% endfor %}-->
  <!--&lt;!&ndash; Next and previous buttons &ndash;&gt;-->
  <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
  <!--<a class="next" onclick="plusSlides(1)">&#10095; </a>-->
  <!--&lt;!&ndash; Thumbnail images &ndash;&gt;-->
  <!--<div class="row">-->
      <!--{% for image_number in object.images_numbers %}-->

    <!--<div style="float:left">-->
      <!--<img class="demo cursor" src="{{ MEDIA_URL }}{{ image_number.image.image.url }}" style="height:250px;" onclick="currentSlide({{image_number.idx}})" alt="The Woods">-->
    <!--</div>-->
       <!--{% endfor %}-->
  <!--</div>-->
</div>

<script type="text/javascript" src="{% static 'js/gallery_admin.js' %}"></script>
{% endblock %}
