{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-teal">
  <h2>{{article.title}}</h2>
</div>

<form method="POST" class="w3-container">
   {% csrf_token %}
    <label class="w3-text-teal"><b>Msze święte w okresie</b></label>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Od kiedy wyświetlać na stronie?</b>
        </label>
        <input id="dateFrom" class="w3-hover-green w3-border w3-light-grey w-30" type="date" name="season_start" value="{{object.schema.season_start | date:'Y-m-d' }}">
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Do kiedy wyświetlać na stronie?</b>
        </label>
        <input id="dateTo" class="w3-hover-green w3-border w3-light-grey w-30" type="date" name="season_end" value="{{object.schema.season_end | date:'Y-m-d'}}">
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <label class="w3-text-teal"><b>Czy są to niedzielne msze święte?</b>
        </label>
        <input class="w3-check" type="checkbox" name="sunday" {% if object.schema.sunday %}checked="checked"{% endif %}>
    </div>

    <div class="w3-row">
        <label>Godziny mszy:</label>
    </div>
    <div id='hours-all'>
    {% for hour in object.hours %}
    <div id="row-{{hour.id}}" class="w3-row w3-text-teal w3-section mass-hour-row">
        <label class="w3-text-teal"><b>Msza</b></label>
        <input class="w3-hover-green w3-border w3-light-grey w-30" type="time" value="{{hour.hour}}"  name="hour-{{hour.id}}">
        <select name="church-{{hour.id}}" class="w3-select w3-border w-30">
            <option value="f" {% if not hour.is_mb %}selected="selected"{% endif %}>Św faustyny</option>
            <option value="mb" {% if hour.is_mb %}selected="selected"{% endif %}>Miłosierdzia bożego</option>
        </select>
        <div class="w3-btn" onclick="deleteRow('row-' + {{hour.id}})">X</div>
    </div>
    {% empty %}
    <div id="n-1" class="w3-row w3-text-teal w3-section mass-hour-row">
        <label class="w3-tex-teal"><b>Msza</b>
        </label>
        <input class="w3-hover-green w3-border w3-light-grey w-30" type="time" value="07:00"  name="n-hour-1">
        <select name="n-church-1" class="w3-select w3-border w-30">
            <option value="mb">Miłosierdzia bożego</option>
            <option value="f">Św faustyny</option>
        </select>
        <div class="w3-btn" onclick="deleteRow('row-1')">X</div>
    </div>
    {% endfor %}
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <div class="w3-btn w3-blue-grey" onclick="addMassForm()">Kolejna msza</button>
    </div>
    <div class="w3-row w3-text-teal w3-section">
        <input class="w3-btn w3-margin-top w3-blue-grey" type="submit" value="Zapisz"/>
        <a class="w3-btn w3-margin-top w3-blue-grey w-30" href="{% url 'detail' method='list'  object_name='massschema' %}" >Anuluj</a>
    </div>
</form>
<script>

    //document.getElementById('dateFrom').valueAsDate = new Date();
  //  document.getElementById('dateTo').valueAsDate = new Date();
</script>

<script type="text/javascript" src="{% static 'js/mass.js' %}"></script>
{% endblock %}
