{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-teal">
  <h2>Dodaj nowe godziny  działania kancelarii w dniu:</h2>
</div>

<form method="POST" class="w3-container w3-section">
   {% csrf_token %}
    <div class="w3-row w3-text-teal  w3-section">
        <label class="w3-text-teal "><b>Dzień tygodnia</b>
        </label>
        <select class="w3-select w3-border w-30" name="day">
            <option value="{{object.day}}">{{object.day}}</option>
        </select>
    </div>
    <div class="w3-row w3-text-teal  w3-section">
        <label class="w3-col-10" >
            Od:
        </label>
         <input class="w3-input w-30" type="number" value="{{object.start}}"/>
    </div>
     <div class="w3-row w3-text-teal  w3-section">
        <label class="w3-text-teal  w-30">
            Do:
        </label>
         <input class="w3-input w-30"  type="number" value="{{object.end}}"/>
     </div>
    <input class="w3-btn w3-margin-top w3-blue-grey w-30" type="submit" value="Zapisz"/>
    <a class="w3-btn w3-margin-top w3-blue-grey w-30" href="{% url 'actual' %}" >Anuluj</a>

 </form>
{% endblock %}
