{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="w3-container w3-teal">
  <h2>{{article.title}}</h2>
</div>

<form method="POST" class="w3-container">
   {% csrf_token %}
    <label class="w3-text-teal"><b>Nagłówek wiadomości</b></label>
    <input class="w3-input w3-border w3-light-grey" name="name" value="{{object.name}}" type="text">
    <label class="w3-text-teal"><b>Opis</b></label>
    <textarea class="w3-input w3-border w3-light-grey" name="content">{{object.content}}</textarea>
    <input class="w3-btn w3-margin-top w3-blue-grey w-30" type="submit" value="Zapisz"/>
    <a class="w3-btn w3-margin-top w3-blue-grey w-30" href="{% url 'actual' %}" >Anuluj</a>
</form>

<script type="text/javascript" src="{% static 'styles/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'styles/codemirror.min.js' %}"></script>
<script type="text/javascript" src="{% static 'styles/xml.min.js' %}"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="{% static 'styles/froala_editor.pkgd.min.js' %}"></script>
<script> $(function() { $('textarea').froalaEditor() }); </script>
{% endblock %}
