            <div class="tab-pane fade in " id="kancelaria-main" role="tabpanel">
                <div class="k-card">
                    <div class="card-body">
                        <table class="table table-sm ">
                            <th>
                            <h4 class="card-title">Dzień</h4>
                            </th>

                            <th >
                            <h4 class="card-title"> Godziny</h4>
                            </th>
                            {% for day in officeHours %}
                            <tr>
                                <td class="card-text">
                                    {{ day.day }}
                                </td>
                                <td>{{day.start}}-{{day.end}}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div> <!-- #class="card-body" -->
                </div><!-- class="k-card" -->
             </div><!-- id="kancelaria-main" -->