            <div class="tab-pane fade in " id="kancelaria-main" role="tabpanel">
                <div class="k-card">
                    <div class="card-body">
                        <table class="table table-sm ">
                            <th>
                            <h4 class="card-title">Dzień</h4>
                            </th>

                            <th >
                            <h4 class="card-title"> Godziny</h4>
                            </th>
                            <tr>
                                <td class="card-text">
                                    wtorek
                                </td>
                                <td>16.00-17.00</td>
                            </tr>

                            <tr>
                                <td class="card-text">
                                    czwartek
                                </td>
                                <td>16.00-17.00</td>
                            </tr>

                            <tr>
                                <td class="card-text">
                                    sobota
                                </td>
                                <td>9.00-10.00</td>
                            </tr>
                        </table>
                    </div> <!-- #class="card-body" -->
                </div><!-- class="k-card" -->
             </div><!-- id="kancelaria-main" -->