<div class="tab-pane fade in show active" id="msze-main" role="tabpanel">
    <div class="k-card">
        <h3>Niedziela</h3>
        <div class="card-body">
            <h4 class="card-title"> Stary kościół:</h4>
            <p class="card-text">
                {{ old_messes_other}}
            </p>
            <h4 class="card-title"> Nowy kościół:</h4>
            <p class="card-text">{{ new_messes_other}}</p>
        </div>
        <hr>
        <h3>Dni powszednie</h3>
        <div class="card-body">
            <h4 class="card-title"> Stary kościół:</h4>
            <p class="card-text">
                {{ old_messes}}
            </p>
        </div>

    </div>
</div>