<!DOCTYPE html>
<html lang="pl-PL">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PMB Jawor</title>
    <link rel="stylesheet"  href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet"  href="{% static 'w3c.css' %}" />
    <link rel="stylesheet"  href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/css/font-awesome.css' %}">
    <link rel="stylesheet" media="screen and (max-device-width: 800px)" href="{% static 'pmb800.css' %}" />
    <link rel="stylesheet" media="screen and (min-device-width: 801px)" href="{% static 'pmbMax.css' %}" />
<style>
.mySlides, .mySlides2, .mySlides3 {
display:none;
max-width:50%;
}

.slides-right, .slides-left{
display:flex
flex-basis: 25%;
flex-grow: 0;

}

.manager {
display:flex;
flex-direction: row;
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 1%;
        height:90vh;
}

.gallery-row::after {

    content: "";
    clear: both;
    display: table;
}

</style>
</head>
<body>

<div class="row" id="page">
    <div id="left-main-card" class="k-card ">
         <header id="masthead" class="site-header" role="banner">
            <hgroup>
                <div class="row">
                 <img class="col-4" style="height:50%" src="{% static 'images/logo.jpg' %}"/>
                    <h2 class="col-6 site-description" style="    margin-top: 5%;
    text-align: center;    font-weight: 640;">Parafia pw. Miłosierdzia Bożego w Jaworze</h2>
                </div>
            </hgroup>
            <ul id="main-ul" class="nav md-pills nav-justified pills-secondary">
                <li class="nav-item">
                    <a class="nav-link active k-menu-nav-link"  href="{% url 'main' %}" role="tab">Aktualności</a>
                    <!--<a class="nav-link active k-menu-nav-link" data-toggle="tab" href="#aktualnosci" role="tab">Aktualności</a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link k-menu-nav-link" data-toggle="tab" href="#ogloszenia" role="tab">Ogłoszenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link k-menu-nav-link" data-toggle="tab" href="#intencje" role="tab">Intencje</a>
                </li>

                <li class="nav-item">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle to-mini-menu" href="#" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">Sakramenty</a>
                        <div id="sacrament-toggled" class="dropdown-menu row row-dropdown k-menu-dropdown">
                            {% for sacrament in sacraments_all %}
                            <a class="sacrament-link" href="{% url 'sacraments' sacrament_id=sacrament.id %}" >{{sacrament.name}}</a><br/>
                            {% endfor %}
                            <!--<a class="nav-link" data-toggle="tab" href="#chrzest" role="tab">Chrzest</a>-->
                            <!--<a class="nav-link" data-toggle="tab" href="#pokuta" role="tab">Pokuta</a>-->
                        </div>
                    </div>
                </li>

                <li class="nav-item">

                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle to-mini-menu" href="#" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">Parafia</a>

                        <div  class="dropdown-menu row row-dropdown k-menu-dropdown">
                            <div id="parafia-dropdown">
                            <table>
                                <tr>
                                    <td>
                                        <div class="">
                                            <p class="lead">
                                                <a class="nav-link" data-toggle="tab" href="#duszpasterze" role="tab">Duszpasterze</a>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <p class="lead">
                                                <a class="nav-link" data-toggle="tab" href="#wspolnota" role="tab">Wspólnota</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <p class="lead">
                                                <a class="nav-link" data-toggle="tab" href="#k-faus" role="tab">Kościół św Faustyny</a>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <p class="lead">
                                                <a class="nav-link" data-toggle="tab" href="#k-mb" role="tab">Kościół Miłosierdzia Bożego</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="">
                                            <p class="lead">
                                                <a class="nav-link" data-toggle="tab" href="#homilie" role="tab">Homilie</a>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <p class="lead">
                                                <a class="nav-link" data-toggle="tab" href="#galeria" role="tab">Galeria</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <div id="parafia-dropdown-mini" class="dropdown-menu row row-dropdown k-menu-dropdown">
                        <p class="lead">
                            <a class="nav-link" data-toggle="tab" href="#duszpasterze" role="tab">Duszpasterze</a>
                        </p>
                        <p class="lead">
                            <a class="nav-link" data-toggle="tab" href="#wspolnota" role="tab">Wspólnota</a>
                        </p>
                        <p class="lead">
                            <a class="nav-link" data-toggle="tab" href="#k-faus" role="tab">Kościół św Faustyny</a>
                        </p>
                        <p class="lead">
                            <a class="nav-link" data-toggle="tab" href="#k-faus" role="tab">Kościół św Faustyny</a>
                        </p>
                        <p class="lead">
                            <a class="nav-link" data-toggle="tab" href="#homilie" role="tab">Homilie</a>
                        </p>
                        <p class="lead">
                            <a class="nav-link" data-toggle="tab" href="#galeria" role="tab">Galeria</a>
                        </p>
                    </div>
                </div>
                </div><!--PARAFIA-->
                </li>
                <li class="nav-item">
                    <a class="nav-link k-menu-nav-link" data-toggle="tab" href="#kontakt" role="tab">Kontakt</a>
                </li>
            </ul>

        </header>
        <hr class="my-2" />

        <div class="tab-content">

                   {% block content %}
                    {% endblock %}
        </div>
    </div><!-- #page -->
    <div id="main-right-card" class=" k-card">
        {% include 'right/right.html' %}

     </div>
</div>

<div class="gallery-row" >
      <img class="mySlides column" src="{% static 'images/olt1.jpg' %}">
      <img class="mySlides column" src="{% static 'images/olt2.jpg' %}">
      <img class="mySlides column" src="{% static 'images/olt3.jpg' %}" >
      <img class="mySlides2 column" src="{% static 'images/olt4.jpg' %}">
      <img class="mySlides2 column" src="{% static 'images/key.jpg' %}">
      <img class="mySlides2 column" src="{% static 'images/olt6.jpg' %}" >
      <img class="mySlides3 column" src="{% static 'images/olt5.jpg' %}" >
      <img class="mySlides3 column" src="{% static 'images/outside.jpg' %}">
</div>

<!--<div id="events"  >-->
     <!--<div class="k-card" style="width:80%">-->
        <!--<div class="card-body">-->
            <!--<p class="card-title k-nav-link">Nadchodzące wydarzenia:</p>-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<th>Data</th>-->
            <!--<th>Wydarzenie</th>-->
            <!--</thead>-->
        <!--</table>-->
        <!--<p class="card-title"></p>-->
        <!--<table class="table">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Czwartek, 15-03-2018</td>-->
                <!--<td>Spotkanie kandydatów do bierzmowania</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Piątek, 16-03-2018</td>-->
                <!--<td>Spotkanie w salce - warsztaty ikonograficzne</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Piątek, 16-03-2018 19:00</td>-->
                <!--<td>Katecheza w salce pod nowym kościołem</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <!--<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>-->
    <!--<script type="text/javascript" src="js/popper.min.js"></script>-->
    <!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="js/mdb.min.js"></script>-->
    <script type="text/javascript" src="{% static 'js/pmb.js' %}"></script>
</body>
</html>

