<h3>Intencje na {{intention_week.object.week}}</h3>
<div id="table-week-intention">
    <table class="table table-bordered table-striped table-responsive">
        <th>
            Dzień
        </th>
        <th>Intencja</th>
        {% for day in intention_week.intentions %}
        <tr>
            <td>
              {{day.day}}
            </td>
              <td>
                  {% for intention in day.intentions %}
                  <div class="row">
                      <div class="col-md-3">{{intention.hour}}</div>
                      <div class="col-md-8">{{intention.title}}</div>
                  </div><hr/>
                  {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>