
{% extends 'base.html' %}
{% block content %}
<div class="k-card ">
    <h4 class="h4-responsive">{{sacrament.name}}</h4>
    <div class="card-body">
       {% autoescape off %}
        {{sacrament.content}}
        {% endautoescape %}
    </div>
</div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <!--<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>-->
    <!--<script type="text/javascript" src="js/popper.min.js"></script>-->
    <!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="js/mdb.min.js"></script>-->
    <script type="text/javascript" src="{% static 'js/pmb.js' %}"></script>
{% endblock %}